{% extends "layout.html" %}

{% block visualization_active %}
	style="background-color: green; color: white;"
{% endblock visualization_active %}

{% block content %}
   
	<h2>Destination IP Address and Port</h2>
	<div class="tableWrapper">
		<div class="tableAreaWrapper">
			<table class="table table-striped">
				<thead>
				  <tr>
				    <th>Destination | Port</th>	        
				    {% for col in range(numofcolumns) %}
				    <th>{{ groupbyDstPort.columns[col] }}</th>
				    {% endfor %}	             
				  </tr>
				</thead>

				<tbody>
						{% for row in range(numofrows) %}	    
				      <tr>
				        <td>{{ groupbyDstPort.index[row] }}</td>
				        {% for col in range(numofcolumns) %}
				        <td>{{ (groupbyDstPort.iloc[row,col]).astype('int64') }}</td>
				        {% endfor %}		        
				      </tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	
	<div class="chartWrapper">
        <div class="chartAreaWrapper">
			<canvas id="chart" width="{{ canvas_width }}" height="500" ></canvas>    
		</div>
    </div>

    <script type="text/javascript">
    	// get chart canvas
		var canvas = document.getElementById("chart").getContext("2d"); 
				
		//Function to get random color for each bar 
		function getRandomColor() 
		{
		    var letters = '0123456789ABCDEF'.split('');
		    var color = '#';
		    for (var i = 0; i < 6; i++ ) 
		    {
		        color += letters[Math.floor(Math.random() * 16)];
		    }
		    return color;
		}
				
		
		var chart = new Chart(canvas, 
		{
			type: 'bar',

			options: 
			{
				title: {display: true, text: 'GROUP BY DESTINATION AND PORT', fontSize: 20, fontColor: 'green'},
		      	maintainAspectRatio: true,
		      	legend: {display: true, position:'right'},
		      	responsive: false,
		      	scales: 
		      	{
		        	xAxes: 
		        	[
		          		{
		            		scaleLabel: 
		            		{
				              display: true,
				              labelString: 'Destination IP Address',
				              fontSize: 16
		            		},
		            		stacked: true		            		
		          		}
		        	],

		        	yAxes: 
		        	[
		          		{
		            		scaleLabel: 
		            		{
				              display: true,
				              labelString: 'Frequency',
				              fontSize: 16
		            		},
		            		stacked: true,
		            		ticks: {min:0}		            		
		          		}
		        	]
		      	}
		    },
			
		  	data: 
		  	{
		    	labels: 
		    	[
		    		{% for row in range(numofrows) %}    
		    			"{{ groupbyDstPort.index[row] }}", 
		    		{% endfor %}
		    	],

		    	datasets: 
		    	[
		    	{% for col in range(numofcolumns) %}
		      		{
		      			label: "{{ groupbyDstPort.columns[col] }}",
		      			backgroundColor: getRandomColor(),
		      			stack: "Stack {{col}}",    		
		        		data: 
		        		[
		        			{% for row in range(numofrows) %}
			        			
			    					"{{ groupbyDstPort.iloc[row,col] }}", 
			        			
			        		{% endfor %}
		        		]    								
		      		},
		      	{% endfor %}	
		    	]
		  	}		  	

		});
	</script>
    
{% endblock content %}
	