{% extends "layout.html" %}

{% block visualization_active %}
	style="background-color: green; color: white;"
{% endblock visualization_active %}

{% block content %}   
	  
	<h2>Source IP Addresses</h2>
	  <table class="table table-striped">
	    <thead>
	      <tr>
	        <th>Source</th>
	        <th>Frequency</th>	             
	      </tr>
	    </thead>
	    <tbody>
	   		{% for row in range(sumsrc) %}	    
		      <tr>
		        <td>{{ source.index[row] }}</td>
		        <td>{{ source.iloc[row] }}</td>		        
		      </tr>
	    	{% endfor %}
	    </tbody>
	  </table>	
	<!--Chart area-->
	<canvas id="chart"></canvas>

    <script type="text/javascript">		
		//Function to get random color for each bar 
		function getRandomColor() 
		{
		    var letters = '0123456789ABCDEF'.split('');
		    var color = '#';
		    for (var i = 0; i < 6; i++ ) 
		    {
		        color += letters[Math.floor(Math.random() * 16)];
		    }
		    return color;
		}

		//get the number of random colors and store them in the array		
		var colors = [];		
		for (var i = 0; i < {{sumsrc}}; i++ )
		{
			colors.push(getRandomColor());			
		}

    	// get chart canvas
		var canvas = document.getElementById("chart").getContext("2d"); 		
		canvas.width = window.innerWidth;
		canvas.height = window.innerHeight;
		// Script to create Bar chart
		var chart = new Chart(canvas, 
		{
			type: 'bar',
			options: 
			{
				title: {display: true, text: 'SOURCE AND FREQUENCY', fontSize: 20, fontColor: 'green'},
		      	maintainAspectRatio: true,
		      	legend: {display: false, position:'top'},
		      	responsive: true,
		      	scales: 
		      	{
		        	xAxes: 
		        	[
		          		{
		            		scaleLabel: 
		            		{
				              display: true,
				              labelString: 'Source IP Address', //x axis label
				              fontSize: 16
		            		}		            		
		          		}
		        	],

		        	yAxes: 
		        	[
		          		{
		            		scaleLabel: 
		            		{
				              display: true,
				              labelString: 'Frequency', //y axis label
				              fontSize: 16
		            		},
		            		ticks: {min:0}		            		
		          		}
		        	]
		      	}
		    },
			
		  	data: 
		  	{
		    	labels: //label for an axis x or y
		    	[
		    		{% for n in range(sumsrc) %}    
		    			"{{ source.index[n] }}", 
		    		{% endfor %}
		    	],
		    	datasets: 
		    	[
		      		{
		      			label: "", //label for legend
		        		data: //data for other axis
		        		[
		        			{% for n in range(sumsrc) %}    
		    					"{{ source.iloc[n] }}", 
		        			{% endfor %}
		        		],
		        		//backgroundColor for each bar
    					backgroundColor: colors    					
		      		}
		    	]		    	
		  	}
		});
	</script>    
{% endblock content %}
	